@use "sass:color" as *;
@use "sass:list";

// Por cada color nuevo que se añade en colores hay que añadirlo en colores-letra
// y además crear el container correspondiente en index.html

$colores: red, blue, green, pink, yellow;
$colores-letra: rgba(8, 141, 218, 0.89), rgba(166, 177, 10, 0.932), grey,
  rgb(247, 78, 106), rgb(34, 240, 51);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
body {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: left;
  padding-left: 25px;
  margin: 10px;
  color: rgb(60, 160, 135);
}
.box {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

@mixin generar-paleta($color-paleta, $color-letra-paleta) {
  $i: 1;
  @while $i <= 4 {
    .lighten-#{$i} {
      background-color: scale($color-paleta, $lightness: $i * 15%);
      color: scale($color-letra-paleta, $lightness: $i * 15%);
    }

    .darken-#{$i} {
      background-color: scale($color-paleta, $lightness: -1 * $i * 15%);
      color: scale($color-letra-paleta, $lightness: $i * 15%);
    }

    $i: $i + 1;
  }
}

@for $i from 1 through list.length($colores) {
  .container-#{$i} {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    text-align: center;
    .base-color {
      background-color: list.nth($colores, $i);
      color: white;
      width: 200px;
      height: 100px;
    }
    @include generar-paleta(
      list.nth($colores, $i),
      list.nth($colores-letra, $i)
    );
  }
}
