@use "sass:list";
@use "temas" as temas;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 300px;
}

h1 {
  text-align: left;
  padding-left: 25px;
  margin: 10px;
  color: rgb(60, 160, 135);
}

.box {
  position: relative;
  display: flex;
  grid-column: auto;
  padding: 10px;
  width: 125px;
  height: 100px;
  border: 2px solid rgba(160, 155, 155, 0.904);
  justify-content: left;
  align-items: center;
}

.box-text {
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: left;
}

.principal-font,
.secondary-font {
  display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
}

@for $i from 1 through list.length(temas.$numero-temas) {
  .container-#{$i} {
    padding-left: 50px;
    color: black;
    width: 150px;
    height: 605px;
    .box {
      border-radius: list.nth(temas.$border-radius, $i);
    }
    .base {
      background-color: list.nth(temas.$base-color, $i);
    }
    .important {
      background-color: list.nth(temas.$important-color, $i);
    }
    .warning {
      background-color: list.nth(temas.$warning-color, $i);
    }
    .shadow {
      box-shadow: list.nth(temas.$shadow, $i);
    }
    .principal-font {
      font-family: list.nth(temas.$principal-font, $i);
    }
    .secondary-font {
      font-family: list.nth(temas.$secondary-font, $i);
    }
  }
}
