$numero-temas: 1, 2;
$base-color: red, blue;
$important-color: brown, rgb(14, 14, 94);
$warning-color: pink, aqua;
$principal-font: "Segoe UI", "Courier New";
$secondary-font: "Arial", "Verdana";
$shadow: -10px 10px 10px rgb(59, 59, 59), 10px 10px 10px rgb(59, 59, 59);
$border-radius: 3px, 7px;
